div p:first-child{
    color: red;
    background: yellow;
}
p{
background: blue;
color: white;
}
h1{
    text-align: center;
    text-transform: uppercase;

}
*{
    font-family: sans-serif;
}